<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/play.css">
  </head>
  <div class="header">
    <%= @game.player_1.name %>
    vs
    <%= @game.player_2.name %>
  </div>
  <div class="turn">
    <%= @game.current_turn.name %>'s turn
  </div>
  <div class="grid">
    <div class="grid_describe">
      <h1> Player's name </h1>
    </div>
    <div class="normal">
      <h2> <%= @game.player_1.name %> </h2>
    </div>
    <div class="normal">
      <h2>  <%= @game.player_2.name %></h2>
    </div>
    <div class="grid_describe">
      <h1>  HP </h1>
    </div>
    <div class="normal player1-hp">
      <h2> <%= @game.player_1.hp %></h2>
    </div>
    <div class="normal player2-hp">
      <h2> <%= @game.player_2.hp %></h2>
    </div>
    <div class="grid_describe">
      <h1>  Actions </h1>
    </div>
    <div class="normal">
      <% if @game.player_1 == @game.current_turn %>
      <form action="/attack">
        <input type="submit" value="Attack <%= @game.player_2.name %>" class="offensive">
      </form>
      <% end %>
      <% if @game.player_1 == @game.current_turn %>
      <form action="/heal">
        <input type="submit" value="Heal self" class="def">
      </form>
      <% end %>
    </div>
    <div class="normal">
      <% if @game.player_2 == @game.current_turn %>
      <form action="/attack">
        <input type="submit" value="Attack <%= @game.player_1.name %>" class="offensive">
      </form>
      <% end %>
      <% if @game.player_2 == @game.current_turn %>
      <form action="/heal">
        <input type="submit" value="Heal self" class="def">
      </form>
      <% end %>
    </div>
  </div>

    <div class="pictures">
      <div class="picture">
        <img src="https://static.pokebattler.com/pokemon/blastoise.svg">
      </div>
      <div class="picture">
        <img src="https://imgur.com/aMU3B.png">
      </div>
    </div>


</html>
