<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/player_name.css">
  </head>
  <div class="header">
    <%= $player1.name %>
    vs
    <%= $player2.name %>
  </div>
  <div class="grid">
    <div class="grid_describe">
      <h1> Player name </h1>
    </div>
    <div class="normal">
      <h2> <%= $player1.name %> </h2>
    </div>
    <div class="normal">
    <h2>  <%= $player2.name %></h2>
    </div>
    <div class="grid_describe">
    <h1>  HP </h1>
    </div>
    <div class="normal player1-hp">
    <h2>  100</h2>
    </div>
    <div class="normal player2-hp">
    <h2>  100</h2>
    </div>
    <div class="grid_describe">
    <h1>  Actions </h1>
    </div>
    <div class="normal">
      <form action="/attack">
        <input type="submit" value="Attack <%= $player2.name %>" class="offensive">
      </form>
    </div>
    <div class="normal"></div>
  </div>
</html>
